<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="../assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.112.5">
    <title>PayPal</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
    </style>

    
  </head>
  <body>
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sofas & Couches</h1>
        <p class="lead text-body-secondary">Choose your couchs and go to your Cart page for checking your list of products, then finish your purchase.</p>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img name="simple_couch" src="/img/simple_couch.jpg" alt="Simple Couch" width="100%" height="275">
            <div class="card-body">
              <h3 class="fw-light">Simple Couch</h3>
              <p class="card-text">The couch is a cozy and inviting piece of furniture that combines comfort with style.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/checkout"><button type="button" class="btn btn-outline-primary">Buy</button></a>
                </div>
                <small class="text-body-secondary">$ 299</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img name="classy_couch" src="/img/classy_couch.jpg" alt="Classy Couch" width="100%" height="275">
            <div class="card-body">
              <h3 class="fw-light">Classy Couch</h3>
              <p class="card-text">The couch is a cozy and inviting piece of furniture that combines comfort with style.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/checkout"><button type="button" class="btn btn-outline-primary">Buy</button></a>
                </div>
                <small class="text-body-secondary">$ 499</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img name="comfy_couch" src="/img/comfy_couch.jpg" alt="Comfy Couch" width="100%" height="275">
            <div class="card-body">
              <h3 class="fw-light">Comfy Couch</h3>
              <p class="card-text">The couch is a cozy and inviting piece of furniture that combines comfort with style.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/checkout"><button type="button" class="btn btn-outline-primary">Buy</button></a>
                </div>
                <small class="text-body-secondary">$ 499</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img name="garden_couch" src="/img/garden_couch.jpg" alt="Garden Couch" width="100%" height="275">
            <div class="card-body">
              <h3 class="fw-light">Garden Couch</h3>
              <p class="card-text">The couch is a cozy and inviting piece of furniture that combines comfort with style.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/checkout"><button type="button" class="btn btn-outline-primary">Buy</button></a>
                </div>
                <small class="text-body-secondary">$ 399</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img name="family_couch" src="/img/family_couch.jpg" alt="Family Couch" width="100%" height="275">
            <div class="card-body">
              <h3 class="fw-light">Family Couch</h3>
              <p class="card-text">The couch is a cozy and inviting piece of furniture that combines comfort with style.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/checkout"><button type="button" class="btn btn-outline-primary">Buy</button></a>
                </div>
                <small class="text-body-secondary">$ 799</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img name="executive_couch" src="/img/executive_couch.jpg" alt="Executive Couch" width="100%" height="275">
            <div class="card-body">
              <h3 class="fw-light">Executive Couch</h3>
              <p class="card-text">The couch is a cozy and inviting piece of furniture that combines comfort with style.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/checkout"><button type="button" class="btn btn-outline-primary">Buy</button></a>
                </div>
                <small class="text-body-secondary">$ 899</small>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    
  </div>

  

</main>

<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">This web page is only to simulate a basic shopping cart page on a web store using the PayPal Sandbox testing environment for payment.</p>

  </div>
</footer>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>